/* General */
body {
    font-family: sans-serif;
    background: #444;
}

html, body, #workbench {
    height:100%;
    margin:0px;
    padding:0;
}
#workbench {
    position:relative;
}

button.zed-button {
    background: #444;
    padding: 3px;
    color: #ddd;
    border: 0px;
}
button.zed-button:disabled {
    color: #888;
}

button:not(.zed-button) {
    /*background: #fbfaff;*/
    /*background: #f5f5f5;*/
    /*background-image: -moz-linear-gradient(center top , #f5f5f5, #f1f1f1);*/
    background-image: -moz-linear-gradient(center top , #fbfaff, #eaeaea);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.45;
    padding: 3px 7px;
    text-align: center;
}


script, tt {
    font-family: Consolas, "Andale Mono", Monaco, "Lucida Console", monospace;
    font-size: 12px;
}

a {
    color: #79D;
}

.button-bar {
    padding: 5px;
    background: #444;
    color: #bbb;
}

z-block:not(.comment) .content-container > span.ze-content {
    font-size: smaller;
}

z-block:not(.comment) .content-container > div.ze-content {
    font-size: smaller;
}

/* Web components styling that can't be done during their definition */
z-block.current.cursor-displayed #main {
    border-left-color: #e66;
}
z-block.current.cursor-displayed.stop-blinking #main {
    border-left-color: #faa;
}
z-block.current #main {
    border-left-color: #faa;
}
z-block * z-port.current {
    background: #444;
}
z-block.de-emphasis * div.content-container {
    background: #f7f7f7;
    filter: opacity(0.75);
}
z-block.comment #main {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
z-block.comment .content-container {
    background-color: transparent;
    border-color: transparent;
    font-size: smaller;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 4px 8px 4px 8px;
}
z-block.comment .content-container > span {
    padding: 0px;
}
z-block.comment.current #main {
    -webkit-box-shadow: 0px 0px 1px 0px #bbb;
    -moz-box-shadow: 0px 0px 1px 0px #bbb;
    box-shadow: 0px 0px 1px 0px #bbb;
}
z-block.has-execution-error #main {
    border-right-color: #fcc;
}

z-port.selected {
    background: #e66;
}
z-port.to-link-to {
    background: #aca;
}

z-link.selected {
    background: #e66;
    -webkit-box-shadow: 0px 0px 0px 1px #e66;
    -moz-box-shadow: 0px 0px 0px 1px #e66;
    box-shadow: 0px 0px 0px 1px #e66;
}

/* Patch message */
#message-div {
    color: white;
    font-family: Consolas, monospace;
    font-size: 12px;
    /* In case message is empty. */
    min-height: 1.1em;
    bottom: 4px;
    left: 230px;
    position: absolute;
    z-index: 1000;
}

/* Properties frame */
#properties-frame {
    background: #e2e6ed;
    padding: 10px;
    padding-top: 5px;
    position: absolute;
    right: 620px;
    height: 144px;
    width: 440px;
    bottom: 35px;
    z-index: 1000;
    visibility: hidden;
}
#block-inner-html {
    font-family: Consolas, "Andale Mono", Monaco, "Lucida Console", monospace;
    font-size: 12px;
    overflow-y: auto;
    background: white;
    border: 1px solid #e1e8ed;
    padding: 10px;
    width: 418px;
    height: 100px;
    margin-top: 5px;
}

/* Command line frame */
.prompt {
    color: #888;
}

.command-line {
    font-family: Consolas, monospace;
    font-size: 12px;
    background: white;
}
.command-line.focused {
    color: #aaa;
}
#command-line-terminal-wrapper {
    position: relative;
    visibility: hidden;
}

#command-line-frame {
    background: white;
    border: 1px solid #e1e8ed;
    padding: 10px;
    position: absolute;
    right: 20px;
    bottom: 35px;
    z-index: 1000;
}

/* Patch frame */
#patch {
    height: 100%;
    position: relative;
    background: rgb(245, 248, 250);
}
#draggabilly-handle {
    position: absolute;
    width: 10000px;
    height: 10000px;
    top: -5000px;
    left: -5000px;
}
#edit {
    padding: 15px;
    position: absolute;
    top:10px;
    bottom:25px;
    left:10px;
    right:10px;
    background: rgb(245, 248, 250);
    z-index: 900;
    overflow: hidden;
}

/* View frame */
.view-frame {
    background: #e2e6ed;
    padding: 10px;
    height: 463px;
}
#presentation-div {
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 2px 2px 3px 0px #dfdfdf;
}
#view-window {
    width: 400px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

#link-to-github {
    color: #888;
    font-size: smaller;
    position: absolute;
    right: 0px;
    bottom: 4px;
    z-index: 1000;
}

body.menu-hidden #main-button-bar {
    visibility: hidden;
}

#main-button-bar {
    position: absolute;
    /*width: 300px;*/
    bottom: 30px;
    left: 15px;
    z-index: 1000;
}

#menu-zone {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
#command-line-frame > .close-button {
    background: rgba(1,1,1,0);
    color: black;
}
#properties-frame > .close-button {
    background: rgba(1,1,1,0);
    color: black;
}

.zed-data {
    font-weight: bolder;
}

.zed-event {
    color: #42466d;
    background: #e2e6ed;
}

