/* General */
body {
    font-family: sans-serif;
}

button {
    background: #444;
    padding: 3px;
    color: #ddd;
    border: 0px;
}
button:disabled {
    color: #888;
}

script, tt {
    font-family: Consolas, monospace;
    font-size: 12px;
    spell-check: false
}

.button-bar {
    padding: 5px;
    background: #444;
    color: #bbb;
}

/* Web components styling that can't be done during their definition */
z-block.current.cursor-displayed > div {
    border-left-color: #e66;
}
z-block.current.cursor-displayed.stop-blinking > div {
    border-left-color: #faa;
}
z-block.current > div {
    border-left-color: #faa;
}
z-block * z-port.current {
    background: #444;
}

z-port.selected {
    background: #e66;
}
z-port.to-link-to {
    background: #aca;
}

z-link.selected {
    border-color: #e66;
}

/* Command line frame */
.prompt {
    color: #888;
}

.command-line {
    font-family: Consolas, monospace;
    font-size: 12px;
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
}
.command-line.focused {
    color: #aaa;
}
#command-line-frame {
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    clear: both;
}

/* Help frame */
#help {
    margin-left: 10px;
}
#help-content {
    font-size: smaller;
    background: #eee;
    padding: 15px;
    color: #444;
}
#help-content tt {
    color: black;
    font-size: larger;
    margin-right: 10px;
}
#help-bar {
    padding: 5px;
    background: #444;
    color: #fff;
    height: 23px;
}

/* Patch frame */
#patch {
    position: relative;
}

/* View frame */
.view-frame {
    background: #f0f0f0;
    padding: 10px;
    height: 420px;
}
#presentation-div {
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 2px 2px 3px 0px #dfdfdf;
}
