/* General */
body {
    font-family: sans-serif;
}

button {
    background: #444;
    padding: 3px;
    color: #ddd;
    border: 0px;
}
button:disabled {
    color: #888;
}

script, tt {
    font-family: Consolas, monospace;
    font-size: 12px;
}

.button-bar {
    padding: 5px;
    background: #444;
    color: #bbb;
}

/* Web components styling that can't be done during their definition */
z-block.current.cursor-displayed #main {
    border-left-color: #e66;
}
z-block.current.cursor-displayed.stop-blinking #main {
    border-left-color: #faa;
}
z-block.current #main {
    border-left-color: #faa;
}
z-block * z-port.current {
    background: #444;
}
z-block.de-emphasis * div.content-container {
    background: #f7f7f7;
    filter: opacity(0.75);
}
z-block.comment #main {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
z-block.comment .content-container {
    background-color: transparent;
    border-color: transparent;
    font-size: smaller;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 4px 8px 4px 8px;
}
z-block.comment .content-container > span {
    padding: 0px;
}
z-block.comment.current #main {
    -webkit-box-shadow: 0px 0px 1px 0px #bbb;
    -moz-box-shadow: 0px 0px 1px 0px #bbb;
    box-shadow: 0px 0px 1px 0px #bbb;
}
z-block.has-execution-error #main {
    border-right-color: #fcc;
}

z-port.selected {
    background: #e66;
}
z-port.to-link-to {
    background: #aca;
}

z-link.selected {
    background: #e66;
    -webkit-box-shadow: 0px 0px 0px 1px #e66;
    -moz-box-shadow: 0px 0px 0px 1px #e66;
    box-shadow: 0px 0px 0px 1px #e66;
}

/* Patch message */
#message-div {
    padding: 3px;
    font-family: Consolas, monospace;
    font-size: 12px;
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    /* In case message is empty. */
    min-height: 1.1em;
}

/* Command line frame */
.prompt {
    color: #888;
}

.command-line {
    font-family: Consolas, monospace;
    font-size: 12px;
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
}
.command-line.focused {
    color: #aaa;
}
#command-line-frame {
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    clear: both;
}

/* Help frame */
#help {
    margin-left: 10px;
}
#help-content {
    font-size: smaller;
    background: #eee;
    padding: 15px;
    color: #444;
}
#help-content tt {
    color: black;
    font-size: larger;
    margin-right: 10px;
}
#help-bar {
    padding: 5px;
    background: #444;
    color: #fff;
    height: 23px;
}

/* Patch frame */
#patch {
    position: relative;
}
#edit {
    background: #f0f0f0;
    padding: 15px;
}

/* View frame */
.view-frame {
    background: #f0f0f0;
    padding: 10px;
    height: 463px;
}
#presentation-div {
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 2px 2px 3px 0px #dfdfdf;
}

/* help frame toggle */
#help {
    width: 29%;
}
body.help-hidden * #help {
    width: 0%;
    visibility: hidden;
}
#workbench {
    width: 70%;
}
body.help-hidden * #workbench {
    width: 99%;
}
